@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-very-light: #F5F5FA;
    --neutral-light: #E1E6E8;
    --neutral-slightly-light: #CDD2DC;
    --neutral: #B4C3CD;
    --neutral-slightly-dark: #8791A5;
    --neutral-dark: #5F6978;
    --neutral-very-dark: #1E2832;

    --primary-very-light: #EBF5FF;
    --primary-light: #AAD2F5;
    --primary-slightly-light: #5FA0D7;
    --primary: #2D82C8;
    --primary-slightly-dark: #2364A0;
    --primary-dark: #19466E;
    --primary-very-dark: #0F2837;

    --safe-very-light: #E6FFFA;
    --safe-slightly-light: #6ED7D2;
    --safe: #3CAAA0;
    --safe-slightly-dark: #289187; 
    --safe-dark: #19645A;
    --safe-very-dark: #0C4141;

    --warning-very-light: #FFFAF0;
    --warning-light: #FAF0D7;
    --warning-slightly-light: #FAE19B;
    --warning: #F0C864;
    --warning-slightly-dark: #C8A53C;
    --warning-dark: #8C691E;
    --warning-very-dark: #5A460F;

    --danger-very-light: #FAE6E6;
    --danger-light: #F5AAAA;
    --danger-slightly-light: #E6464;
    --danger: #DC2D2D;
    --danger-slightly-dark: #B41E1E;
    --danger-dark: #871919;
    --danger-very-dark: #5F1414;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-very-dark;
  }
}